[submodule "replay_ghrd/software/bootloader/u-boot-socfpga"]
	path = replay_ghrd/software/bootloader/u-boot-socfpga
	url = https://github.com/altera-opensource/u-boot-socfpga
	branch = socfpga_v2021.01
	shallow = true
[submodule "replay_ghrd/software/linux/linux-socfpga"]
	path = replay_ghrd/software/linux/linux-socfpga
	url = https://github.com/altera-opensource/linux-socfpga.git
	shallow = true
